
.masonry {
    column-count: 3;
    column-gap: 1em;

    .item {
        position: relative;
        background-color: #eee;
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;

        .itemHover {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            padding: 18px;
            
            h3 {
                margin: 0;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;

                color: #FFFFFF;
            }

            button {
                align-self: flex-end;
                width: 63px;
                height: 23px;
                background-color: inherit;
                border: 1px solid #EB5757;
                box-sizing: border-box;
                border-radius: 38px;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                text-transform: lowercase;

                color: #EB5757;
            }
        }
    }

}
.card {
    border-radius: 16px;
    overflow: hidden;
    
    .cardHover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
    }
}